<div class="container">
  <div class="content card" role="main">
    <div class="content-header">
      <h3 class="content-title">Display Rules</h3>
    </div>
    <div class="rules-wrapper" [formGroup]="rulesForm">
      <div class="rules">
        <h2 class="rules-title">Inclusion Rules</h2>
        <sub class="rules-subtitle">Where would you like to display your campaign?</sub>
        <app-rule-form-group formArrayName="inclusionRules" [firstAll]="true"></app-rule-form-group>
      </div>
      <div class="rules">
        <h2 class="rules-title">Exclusion Rules</h2>
        <sub class="rules-subtitle">Where would you like to NOT display your campaign?</sub>
        <app-rule-form-group formArrayName="exclusionRules"></app-rule-form-group>
      </div>
    </div>
  </div>
  
  <footer class="footer card">
    <a class="btn btn-outline disabled"><span style="font-size: 12px;line-height:16px;margin-right:.25rem">◄</span> Back</a>
    <div>
      <a (click)="saveRules()" class="btn btn-green" [ngClass]="{disabled: !rulesForm.valid && rulesForm.touched}">Save</a>
      <a class="btn btn-blue disabled">Next</a>
    </div>
  </footer>
  </div>
  