$bg: #f4f7f8;
$main: #212529;
$titlegrey: #555;
$white: #fff;
$darkgrey: #333;
$darkblue: #91adc9;
$palegrey: #ebeef2;
$grey: #dfe3ea;
$grey2: #ced4da;
$grey3: #888;
$grey4: #495057;
$shadowgrey: #dfe3eb;
$shadowgrey2:rgba(235,238,242,.4);
$green: #50d73f;
$hovergreen: #38bc27;
$blue: #00a1fe;
$paleblue: #4da1fe;
$hoverblue: #0081cb;
$shadowblue: rgba(0,123,255,.25);
$red: #dc3545;
$palered: #df283a;
$hoverred: #c82333;
$shadowred: rgba(255, 0, 0, 0.25);
$danger: #721c24;
$palepink: #f8d7da;
$pink: #f57d89;
$darkpink: #ff4c6a;